#mySidenav a 
/* Kirk Hopkins' CSS template, you may change any part of this document except for this line */
/* This is a styling template for HTML5 */
/*______________________________________________________________________________________*/
/* Reset Browser CSS */
a, abbr, address, article, b, blockquote, body, button, caption, cite, code, colgroup, col, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, tr, u, ul { }
@font-face {
    font-family:font1942;
    src:url('fonts/1942-webfont.eot'),
         url('fonts/1942-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/1942-webfont.woff') format('woff'),
         url('fonts/1942-webfont.ttf') format('truetype'),
         url('fonts/1942-webfont.svg#font1942') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:bigadyboo;
    src:url('fonts/Fofer.otf');
    font-weight:normal;
    font-style:normal;
}
/*______________________________________________________________________________________*/
/*______________________________________________________________________________________*/
/* general site settings */
* {
	box-sizing:border-box;
	cursor:auto;
	color:#efefef;
	font-family:bigadyboo,sans-serif;
	margin:0px;
	padding:0px;
	background-color:#8f8f8f;
	font-size:1em;
}
/* (anchor) i.e. link */
a {

}
/* unvisited link */
a:link {
 color:#000000;
}
/* visited link */
a:visited {
 color:#525252;
}
/* mouse over link */
a:hover {
 color:#91f4ff;
}
/* selected link */
a:active {
 color:#b0f7ff;
}
article {
  font-size:1.4em;
  padding:.5em;
 }
/* bold */
b {
 font-weight:bold;
}
/* the bulk of content on a webpage */
body {
 padding:2em;
}
/* expandable section to show or hide things in a summary */
details {
 margin-left:1em;
 color:#fcab14; /* orange, change or remove this */
}
/* division, used extensively for unique areas of a page */
div {
 padding:1em;
}
/* emphasize */
em {

}
/* headings */
h1, h2, h3, h4, h5, h6 {
 color:#fff;
}
h1 {
	font-size:4em;
	line-height:1.35em;
}
h2 {
	font-size:3.75em;
	line-height:1.25em;
}
h3 {
	font-size:3.5em;
	line-height:1.20em;
}
h4 {
	font-size:2.25em;
	line-height:1.15em;
}
h5 {
	font-size:1.2em;
	line-height:1.10em;
}
h6 {
	font-size:1em;
	line-height:1.05em;
}
/* inline frame used to embed another document */
iframe {
 height:100px;
 margin:1em;
 width:90%
}
/* images, use width % for responsive design */
img {
 width:100%;
}
/* list item for ol and ul */
li {
 margin-left:2em;
}
/* navigation (menu system) */
nav
{
	margin-top:1em;
}
nav ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	z-index:999;
	background-color:#8f8f8f;
	width:100%;
}
nav ul a
{
	display:block;
	color:#8f8f8f; /* change this */
	text-decoration:none;
	line-height:32px;
	padding:0 15px;
	font-size:2em;
	text-align:center;
}
nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}
nav ul li.current-menu-item
{
	background:#8f8f8f; /* change this */
}
nav ul li:hover
{
	background:#8f8f8f; /* change this */
}
nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#8f8f8f; /* change this */
	padding:0;
}
nav ul ul li
{
	float:none;
	width:200px;
}
nav ul ul a
{
	line-height:120%;
	padding:10px 15px;
}
nav ul ul ul
{
	top:0;
	left:100%;
}
nav ul li:hover > ul
{
	display:block;
}
/* multimedia embedding, use sparingly */
object {

}
/* ordered list */
ol {
 padding:1em;
}
/* paragraph */
p {
 line-height:1.45em;
 margin:1em;
}
/* used for large areas of a web page */
section {
 margin:1em;
 padding:1em;
}
/* collapsable/expandable heading used in details element */
table {
 border-collapse:separate;
 border-spacing:.3em;
}
/* table body */
tbody {

}
/* table data, table header */
td, th {
  padding:1em;
}
td {

}
/* table footer */
tfoot {
 background:#232323;
}
th {
 color:#efefef;
 font-weight:bold;
 background:#121212;
}
thead {

}
tr {

}
tr:hover {
 background:#dfdfdf;
}
tr:nth-child(odd) {
 background:#efefef;
}
tr:nth-child(even) {
 background:#fefefe;
}
/* un-numbered list */
ul {
  list-style:display;
  padding:2em;
}
/* end of general site settings */
/*______________________________________________________________________________________*/
/* responsive design */
@media screen and (max-width:768px){
 nav li {
 	width:100%;
 }
}
@media screen and (min-width:769px) and (max-width:1024px){
 article {
  column-count:3;
 }
 nav li {
 	width:100%;
 }
}
@media screen and (min-width:1025px){
 article {
  column-count:4;
 }
}
/* end of responsive design */
/*______________________________________________________________________________________*/
/* YouTube embedded video with responsive design */
.videoWrapper {
	height:0;
	margin:3px 0px 60px 0px;
	position:relative;
	padding-bottom:56.25%; /* 16:9 */
	padding-top:1em;
}
.videoWrapper iframe {
	height:100%;
	left:0px;
	position:absolute;
	top:0px;
	width:100%;
}
.videoContainer {
 margin-right:2em;
}
/* end of YouTube embedded video with responsive design */